{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/descricaoFilmes.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

{% block content %}



<body>
    <header>
        <h1>netflix</h1>
        <div>
            <h3><a href="{% url 'login' %}">Entrar</a></h3>
            <h3 style="color: black;">|</h3>
            <h3><a href="{% url 'listaFilmes' %}">catálogo</a></h3>
        </div>
    </header>

    <div class="movie-details">
        <h1>{{movie.title}}</h1>
        <span>{{movie.description}}</span>
        <form action="{% url 'deletaFilme' movie.id %}" method="post">
            {% csrf_token %}
            <button name="submit">deletar</button>
        </form>

        <form action="{% url 'adicionaUser' movie.id %}" method="post">
            {% csrf_token %}
            <button name="submit">adicionar a lista</button>
        </form>
    </div>
</body>
{% endblock content %}
