{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

{% block content %}

<body>
    <header>
        <h1>netflix</h1>
        <div>
            <h3><a href="{% url 'login' %}">Entrar</a></h3>
            <h3 style="color: black;">|</h3>
            <h3><a href="{% url 'listaFilmes' %}">catálogo</a></h3>
        </div>
    </header>

    <main>
        <form action="{% url 'index' %}" method="post">
            <h2>Cadastrar Filme</h2>
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="form-group">
                {{ form.url.label_tag }}
                {{ form.url }}
            </div>

            <div class="form-group">
                {{ form.description }}
            </div>

            <button type="submit">Enviar ao banco</button>
        </form>
    </main>
</body>
{% endblock content %}
