{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Filmes Registrados</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/listaFilmes.css' %}">
</head>


{% block content %}

<body>
    <header>
        <h1>netflix</h1>
        <div>
            <h3><a href="{% url 'login' %}">Entrar</a></h3>
            <h3 style="color: black;">|</h3>
            <h3><a href="{% url 'index' %}">adicionar filmes</a></h3>
        </div>
    </header>
    <main>

        {% if user.is_authenticated %}
            <h1 class="page-title">Meus Filmes</h1>
            <div class="movie-grid">
                {% for movie in movies_user %}
                <a style="background-image: url('{{ movie.url }}')" class="movie-item" href="{% url 'descricaoFilme' movie.id %}">
                    <div class="overlay"></div>
                </a>
                {% empty %}
                    <p>Você ainda não tem filmes na sua lista.</p>
                {% endfor %}
            </div>
        {% else %}
            <h1 class="page-title">Meus Filmes</h1>
            <p>Você precisa estar logado para ver a seção "Meus Filmes".</p>
        {% endif %}


        <h1 class="page-title">Filmes Registrados</h1>
        <div class="movie-grid">
            {% for movie in movies %}
                <a style="background-image: url('{{ movie.url }}')" class="movie-item" href="{% url 'descricaoFilme' movie.id %}">
                    <div class="overlay"></div>
                </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>

{% endblock content %}
